doctype html
html(lang="ru")
  head
    title Noveo University
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")

    meta(name="apple-mobile-web-app-capable", content="yes")
    meta(name="apple-mobile-web-app-status-bar-style", content="black-translucent")

    link(href="//fonts.googleapis.com/css?family=Roboto:400,700,900,400italic|Roboto+Mono:400,400italic&subset=latin,cyrillic,latin-ext" rel="stylesheet" type="text/css")

    link(rel="stylesheet", href="/public/styles.css")

    <!--[if lt IE 9]>
    script(src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js")
    script(src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js")
    <![endif]-->

    // Printing and PDF exports
    script.
      var link = document.createElement('link');
      link.rel = 'stylesheet';
      link.type = 'text/css';
      link.href = window.location.search.match( /print-pdf/gi ) ? '/public/pdf.css' : '/public/paper.css';
      document.getElementsByTagName('head')[0].appendChild(link);

  body
    .reveal
      .slides
        section=autor
        !=contents

    script(src="//cdnjs.cloudflare.com/ajax/libs/classlist/2014.01.31/classList.min.js")
    script(src="/public/reveal.js")
    script.
      Reveal.initialize({
        width: 1366,
        height: 768
      });
