
// Background of the presentation
$backgroundColor: #fff;

// Primary/body text
$mainFont: 'Roboto', sans-serif;
$mainFontSize: 30px;
$mainColor: #323335;

// Vertical spacing between blocks of text
$blockMargin: 20px;

// Headings
$headingMargin: 0 0 $blockMargin 0;
$headingFont: 'Roboto', sans-serif;
$headingColor: $mainColor;
$headingLineHeight: 1.2;
$headingLetterSpacing: normal;
$headingTextTransform: none;
$headingTextShadow: none;
$headingFontWeight: 500;
$heading1TextShadow: $headingTextShadow;

$heading1Size: 3.32em;
$heading2Size: 2em;
$heading3Size: 1.4em;
$heading4Size: 1.00em;

// Links and actions
$linkColor: #13DAEC;
$linkColorHover: lighten( $linkColor, 20% );

// Text selection
$selectionBackgroundColor: #FF5E99;
$selectionColor: #fff;
